extends layout

block content
  h1= title
  p

  #buttons
    input(type='text', id='colCount')
    input(type='text', id='rowCount')
    button(onclick='setTableSize()') Set Table
    p
    input(type='text', id='row')
    input(type='text', id='col')
    input(type='text', id='val')
    button(onclick='setCellVal()') Set Value
    p
    button(onclick='addRow()') Add Row
    button(onclick='copyRow()') Copy Row
    button(onclick='deleteRow()') Delete Row
  #table_div
